.application-guide {
  padding: 32px 400px;
}

.application-guide__button {
  margin-top: 24px;
  color: white;
  background-color: var(--green);
  padding: 16px;
  width: 300px;
}

.application-guide__bullet {
  font-weight: bold;
  color: var(--indigo);
  background-color: var(--gray);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
