.breadcrumb {
    padding: 70px 300px 8px;
}

.breadcrumb__item {
    float: left;
    font-weight: bold;
}

.breadcrumb__item--current {
    float: left;
}

.breadcrumb__item ::after {
    margin: 0 4px;
    content: ">";
}