@font-face {
  font-family: open-sans;
  src: url("../fonts/opensans.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: open-sans;
  box-sizing: border-box;
}

body {
  background-color: var(--light-blue);
}

p {
  font-size: 14px;
}

a {
  font-size: 14px;
  text-decoration: none;
}

ol {
  list-style-type: none;
}

hr {
  background-color: var(--gray);
  height: 6px;
  border: none;
  width: 100%;
  margin: 32px auto;
}
