.hero {
    padding: 0 300px;
    font-size: x-large;
}

.hero-left__content {
    font-weight: 400;
}

.hero-left__button {
    margin-top: 24px;
    color: white;
    background-color: var(--green);
    padding: 16px;
    width: 300px;
}