.more-info{
    padding: 32px 400px;
}

.more-info__text {
    font-size: 18px;
}

.more-info__grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    gap: 12px;
}

.more-info__grid__child {
    border-radius: 4px;
    background-color: var(--gray);
}