/* Padding */
.p-medium {
    padding: 16px;
}

.p-large {
    padding: 32px;
}

.p-l-small {
    padding-left: 8px;
}

.p-r-small {
    padding-right: 8px;
}

.p-t-small {
    padding-top: 8px;
}

.p-t-medium {
    padding-top: 16px;
}

.p-t-large {
    padding-top: 16px;
}

.p-b-medium {
    padding-bottom: 16px;
}

/* Margin */
.m-t-large {
    margin-top: 32px;
}

/* Color */
:root {
    --gray: #eeeeee;
    --light-blue: #e5f4fb;
    --green: #5e9b00;
    --dark-green: #578419;
    --turquoise: #008fd0;
    --indigo: #282d5c;
}

.white {
    color: white;
}

.turquoise {
    color: var(--turquoise);
}

.light-blue {
    color: var(--light-blue);
}

.indigo {
    color: var(--indigo);
}

/* Background color */
.bg-white {
    background-color: white;
}

.bg-turquoise {
    background-color: var(--turquoise);
}

.bg-indigo {
    background-color: var(--indigo);
}

/* Display */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

/* Flex */
.align-content-center {
    align-items: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.direction-column {
    flex-direction: column;
}

/* Decorations */
.underline {
    text-decoration: underline;
}

/* Border */
.rounded-small {
    border-radius: 8px;
}

.rounded-medium {
    border-radius: 16px;
}